<section class="news-links">
  <h2 class="news-links__title" aria-label="New posts">
    <span aria-hidden="true">New</span>
  </h2>
  <ul class="news-links__list">
    <li class="news-links__item news-links__item--bottom-bound">
      <h3 class="item__title">
        <a href="#">Hydrogen VS Electric Cars</a>
      </h3>
      <p class="item__text">Will hydrogen-fueled cars ever catch up to EVs?</p>
    </li>
    <li class="news-links__item news-links__item--bottom-bound">
      <h3 class="item__title">
        <a href="#">The Downsides of AI Artistry</a>
      </h3>
      <p class="item__text">What are the possible adverse effects of on-demand AI image generation?</p>
    </li>
    <li class="news-links__item">
      <h3 class="item__title">
        <a href="#">Is VC Funding Drying Up?</a>
      </h3>
      <p class="item__text">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
    </li>
  </ul>
</section>