<header class="header">
  <img src="./assets/images/logo.svg" alt="W. logo" class="header__logo">
  <nav class="header__nav" aria-label="Home page">
    <button id="js-open-button" class="nav__open-buttom">
      Open menu
      <img src="./assets/images/icon-menu.svg" alt="">
    </button>
    <div id="js-nav-menu" class="nav__menu">
      <button id="js-close-button" class="menu__close">
        Close menu
        <img src="./assets/images/icon-menu-close.svg" alt="">
      </button>
      <ul class="menu__list">
        <li class="list__item">
          <a href="#">Home</a>
        </li>
        <li class="list__item">
          <a href="#">New</a>
        </li>
        <li class="list__item">
          <a href="#">Popular</a>
        </li>
        <li class="list__item">
          <a href="#">Trending</a>
        </li>
        <li class="list__item">
          <a href="#">Categories</a>
        </li>
      </ul>
    </div>
    <div class="menu__gray-overlay"></div>
  </nav>
</header>