<section class="top-news">
  <h2 class="sr-only">Top News</h2>
  <ul class="top-news__list">
    <li class="top-news__item">
      <article class="top-news__item-container">
        <img src="./assets/images/image-retro-pcs.jpg" alt="Retro personal computer surrounded by audio cassettes and gamer stuff" class="item__img" >
        <div class="item__content">
          <span class="item__number">01</span>
          <h3 class="item__title">
            <a href="#">Reviving Retro PCs</a>
          </h3>
          <p class="item__text">What happens when old PCs are given modern upgrades?</p>
        </div>
      </article>
    </li>
    <li class="top-news__item">
      <article class="top-news__item-container">
        <img src="./assets/images/image-top-laptops.jpg" alt="black keyboard red keycaps" class="item__img" >
        <div class="item__content">
          <span class="item__number">02</span>
          <h3 class="item__title">
            <a href="#">Top 10 Laptops of 2022</a>
          </h3>
          <p class="item__text">Our best picks for various needs and budgets.</p>
        </div>
      </article>
    </li>
    <li class="top-news__item">
      <article class="top-news__item-container">
        <img src="./assets/images/image-gaming-growth.jpg" alt="gamepad male hand throwing up white background play control" class="item__img" >
        <div class="item__content">
          <span class="item__number">03</span>
          <h3 class="item__title">
            <a href="#">The Growth of Gaming</a>
          </h3>
          <p class="item__text">How the pandemic has sparked fresh opportunities.</p>
        </div>
      </article>
    </li>
  </ul>
</section>