<section class="banner">
  <picture class="banner__img">
    <source
      srcset="./assets/images/image-web-3-desktop.jpg"
      media="(min-width: 768px)"
    >
    <img
      class="banner__img"
      src="./assets/images/image-web-3-mobile.jpg"
      alt="Set of random 3d geometric linked images of different colors and sizes"
    >
  </picture>
  <div class="banner__content">
    <h1 class="banner-content__title">The Bright Future of Web 3.0?</h1>
    <div>
      <p>We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
        But is it really fulfilling its promise?</p>
      <a class="btn btn--primary" href="#">Read more</a>
    </div>
  </div>
</section>